{block content}

<div class="btnback">
    <a n:href="Home:default"> ← zpět na úvodní stránku</a>
</div>



<h2 class="namedetail" n:block="name">{$searchQuery->name}</h2>


<div class="productDetail">{$searchQuery->description}</div>


<div >
<div class="pricedetail"> Cena: {$searchQuery->price_doge} DOGE</div>
</div>






