{block search}

    <form  method="get" action="/search" name="searchForm" class="my-2 my-lg-0 ml-auto"> {* class="navbar-form navbar-right" *}
        <div class="form-group">
            <input type="text" name="query" id="query" class="form-control mr-sm-2" placeholder="Hledat">
        </div>
        <button type="submit" class="btn btn-secondary my-2 my-sm-0">Hledat</button>
    </form>


{/block}
