{block content}

<p>
    <a n:href="Home:default">zpět na úvodní stránku</a>
</p>

<p>
    <a n:href="Edit:edit $product->id" n:if="$user->isLoggedIn()">Editovat</a>
</p>

<h2 n:block="name">{$product->name}</h2>

<div class="productDetail">{$product->description}</div>

<br>

<div class="price">{$product->price_doge} DOGE</div>

<br>


{control productForm}