<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">

        <title>{ifset title}{include title|stripHtml} | {/ifset}Company shop</title>

        {block css}



        <!-- Bootstrap CSS -->
        <link href="{$basePath}/css/bootstrap.min.css" rel="stylesheet">

        <!-- jQuery UI CSS -->
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css">

        <link rel="stylesheet" href="{$basePath}/css/style.css">
        {/block}

        {block head}{/block}

    </head>

    <body>
        <div class="page-container">



    </body>
     <nav class="navbar navbar-fixed-top navbar-expand-lg"> 
    


        <div class="container-fluid">




            {* <div class="collapse navbar-collapse" id="navbarNav">
               <ul class="navbar-nav mr-auto"> *}

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    {* <ul class="nav navbar-nav d-flex"> *}
                    <li class="nav-item"><a n:href="Home:">Naše nabídka</a></li>
                    <li class="nav-item"><a n:href="Basket:default">Košík</a></li>
                        {if $user->isLoggedIn()}
                        <li class="nav-item"><a n:href="Edit:create">Přidat produkt</a></li>
                        <li class="nav-item"><a n:href="Sign:out">Odhlásit</a></li>
                        {else}
                        <li class="nav-item"><a n:href="Sign:signIn">Přihlásit</a></li>
                        {/if}
                </ul>

                {block search}
                {include search from './Search/search.latte'}
                {/block}
            </div>
        </div>
    </nav>

    <div class="content-wrap">
        <div class="container">
            <div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
            <div class="row">
                <div class="col-lg-12">
                    <article>
                        <section>
                            {include content}
                        </section>
                    </article>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="row">
            <div class="col-lg-12">
                <div class="container text-center">
                    <p>
                        Testovací zadání pro práci PHP programátora. Tento e-shop není skutečný.
                    </p>
                </div>
            </div>
        </div>
    </footer>
</div>    


{block scripts}
<script src="https://unpkg.com/nette-forms@3/src/assets/netteForms.js"></script>
{/block}
</body>
</html>
