{block content}

<h2>Tvůj nákupní košík</h2>

<table>
    <tr>
        <th>Product ID</th>
        <th>Název</th>
        <th>Množství</th>
        <th>Cena</th>
    </tr>
    {foreach $basket as $item}
        <tr>
            <td>{$item['product_id']}</td>
            <td>{$item['name']}</td>
            <td>{$item['count']}</td>
        </tr>
        {/foreach}
            
</table>
